#nav-container {
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    height: 0;
    z-index: 999;
  }
  
nav {
  background-color: #242424;
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

.sidenav-button {
  background-color: inherit;
  border: none;
}

.sidenav-button i {
  color: rgba(0,0,0,0.8);
  height: 100%;
}

.sidenav-button:focus, .sidenav-button:active {
  background-color: inherit;
  outline: none !important;
}

.sidenav li {
  font-size: 1.2em;
}

.dropdown-content {
  background-color: #242424;
}